
        <style>
                .text{
                  border: 2px solid gray ;
                  width: 175px;
                  height:30px;
                  margin: 5px;
                    position: relative;
                }

.sub{
    border: 1px solid gray;
    background: #343574 !important;
    height: 30px;
    width: 75px;
    color: #fff!important;
    /* margin: 40px; */
    position: relative;
}

              </style>
              <p>
                
                  <!-- <label for='em'>Email address:   </label> -->
                      <input class='text' id ='em' type="email" name="EMAIL" 
                      placeholder="Your email address" required />

                      <input class='text' type="text" name="EMAIL" 
                      placeholder="First Name" required />

                      <input class="sub" type="submit" value="Subscribe" />
        
              </p>
              
             